.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-item {
  flex: 1;
}

.flex-item-opts {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 8px;
  align-self: stretch;
}

.flex-1 {
  flex: 1;
  text-align: center;
}

.flex-11 {
  flex: 11;
}

input[type="radio"] {
  /* accent-color: #014DA7; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 5px solid #ffffff;
  outline: 2px solid #014DA7;
  margin-right: 5px;
  transform: scale(0.5);
}

[type=radio]:checked {
  background-color: #014DA7;
  /* outline: unset !important I added this one for Edge (chromium) support */
}
